.controler-view-opener {
    background-color: rgb(171, 171, 171);
    color:white;
    margin-top: 1vmax;
    padding: .8vw;
    cursor: pointer;
}

.controler-view {
    position: relative;
    width: 21vw;
    height: 20vw;
    margin-top: 1vmax;
}

.close-button {
    position: absolute;
    top:0;
    right: 2vmax;
    color: tomato;
    cursor: pointer;
    z-index: 1;
    font-size: 1.5vmax;
    font-weight: bold;
}