.current-mission-view-opener {
    background-color: rgba(0, 0, 0, 0.2);
    color:yellow;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100vh;
    width: 2vw;
    transition-duration: 300ms;
    border-left: 2px solid yellow;
}

.current-mission-view-opener:hover {
    width: 3vw;
}

.current-mission-view {
    position: fixed;
    top: 0;
    right: 0;
    width: 21vw;
    height: 100vh;
    padding: 1vh;
    padding-top: 1.5vh;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 2px solid yellow;
    overflow: scroll;   
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.horizontal-menu-mission-view {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontal-menu-mission-view li {
    float: left;
    height: 8vh;
}

.horizontal-menu-mission-view li div {
    display: block;
    color: yellow;
    background-color: #999;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 2vh;
}

.horizontal-menu-mission-view li div:hover {
    background-color: #666;
}

.waypoint_pannel_container {
    max-height: 60vh;
    overflow: scroll;
}

.waypoint-pannel {
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 1vh;
    margin: 1vh 0;
}

.waypoint-pannel p {
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
}

.startButton {
    position: relative;
    bottom: 0;
    padding: 1vh;
    font-size: 2vh;
    text-align: center;
    font-family: monospace;
    color: black;
    background-color: darkgreen;
}

.startButton:hover {
    background-color: green;
}