.current-mission-view-opener {
    background-color: rgba(0, 0, 0, 0.2);
    color:#2F8565;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100vh;
    width: 2vw;
    transition-duration: 300ms;
    border-left: 2px solid #2F8565;
}

.current-mission-view-opener:hover {
    width: 3vw;
}

.current-mission-view {
    position: fixed;
    top: 0;
    right: 0;
    width: 21vw;
    height: 100vh;
    padding: 1vh;
    padding-top: 1.5vh;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 2px solid #2F8565;
    overflow: scroll;   
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.horizontal-menu-mission-view {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontal-menu-mission-view li {
    float: left;
}

.horizontal-menu-mission-view li div {
    display: block;
    color: #2F8565;
    background-color: rgb(205, 205, 205);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1vw;
    width: 2.5vw;
    height: 2.5vw;
    transition-duration: 100ms;
}

.horizontal-menu-mission-view li div:hover {
    color: white;
    background-color: rgb(138, 138, 138);
    border-bottom: 2px solid #2F8565;
}

.waypoint_pannel_container {
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.waypoint_pannel_container::-webkit-scrollbar {
    background:rgb(77, 77, 77);
}

.waypoint_pannel_container::-webkit-scrollbar-thumb {
    background:#2F8565;
}

.waypoint-pannel {
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 1vh;
    margin: 1vh 0;
}

.waypoint-pannel p {
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
}

.start_button {
    position: relative;
    bottom: 0;
    padding: 1vh;
    font-size: 2vh;
    text-align: center;
    font-family: monospace;
    color: black;
    background-color: darkgreen;
    cursor: pointer;
}

.start_button:hover {
    background-color: green;
}